/* This class puts the footer in the bottom of the screen, align in the center the elements, and set a dimension */
.footer{
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    background-color: #000d1a;
    text-align: center;
    top: 100%;
    width: 100%;
}

/* Set a height and a color from hr */
#hr-footer{
    margin: 0; 
    padding: 0; 
    background-color:#00b3b3; 
    height: 3px;
    border: 0;
}

/* Set a margin and centralize the elements */
.icons-ul{
    display: flex;
    margin: 15px 15px;
    justify-content: center;
    padding: 0;
}

.icons-li{
    display: flex;
}

/* Set a distance between the social media icons */
.icons-li a{
    padding-left: 55px;
    padding-right: 55px;
}

/* Centralize the elements */
.page-links-ul{
    display: flex;
    justify-content: center;
}

.page-links-li{
    display: flex;
}

/* Set a font size, color and a color transition in the links */
.page-links-li a {
    padding: 0px 25px;
    font-size: 17.5px;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

/* Change the link color when the cursor is over the element */
.page-links-li a:hover{
    color: #00b3b3;
}

/* Set a padding in the left and right side */
.icons{
    padding-left: 17.5%;
    padding-right: 17.5%;
}