/*class that defines the size and other basic and structural elements
of the slideshow container*/
.format{
  background-image: url(../img/newspaper.jpg);
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: sepia(40%);
}

.img-slider{
  position: relative;
  width: 750px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(9px 9px 15px rgb(22, 22, 22));
}

.img-slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: inset(0 0 0 100%);

}

.img-slider .slide.active{
  clip-path: inset(0 0 0 0);
  transition: 1s;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.img-slider .slide .info{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 90%;
  bottom: 0;
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px;
  text-align: justify;
  height: 80px;
}

.img-slider .slide .info a{
  color: #bfc7c5;
  font-size: 25px;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border: 5px;
  cursor: pointer;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.img-slider .slide .info a:hover {
  color: #Ebf7f6;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*css for the slider buttons*/
.img-slider .navigation .butn{
  border: 2px solid #40D3DC;
  padding: 1.5px;
  width: 8px;
  height: 8px;
  margin: 6px;
  transition: 1s;
  border-radius: 10px;
  cursor: pointer;
}

.butn:hover {
    background: #40D3DC;
}

.img-slider .navigation .butn.active{
  background: #40D3DC;
}

/*properties for responsival aspect*/
@media (max-width: 820px){
  .img-slider{
    width: 85%;
    height: 350px;
  }

  .img-slider .slide .info{
    height: 65px;
  }

  .img-slider .slide .info a{
    width: 90%;
    font-size: 19px;
  }

  .img-slider .navigation{
    bottom: 5px;
  }

  .img-slider .navigation .butn{
    width: 6px;
    height: 6px;
    margin: 4px;
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 90%;
    height: 270px;
    position: relative;
    overflow: hidden;
  }

  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .img-slider .slide .info{
    height: 65px;
  }

  .img-slider .slide .info a{
    width: 90%;
    font-size: 16px;
  }

  .img-slider .navigation{
    bottom: 3px;
  }

  .img-slider .navigation .butn{
    width: 4px;
    height: 4px;
    margin: 3px;
  }
}

@media (max-width: 420px){
  .img-slider{
    width: 90%;
    height: 180px;
  }

  .img-slider .slide .info{
    height: 50px;
  }

  .img-slider .slide .info a{
    width: 90%;
    font-size: 10px;
  }

  .img-slider .navigation{
    bottom: 2px;
  }
  .img-slider .navigation .butn{
    width: 2px;
    height: 2px;
    margin: 1.5px;
  }
}