body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.image-container {
    background-color: black;
    position: relative;
    text-align: center;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.image-cfg {
    opacity: 0.3;
    width: 100%;
    height: fit-content;
    display: flex;
}

.image-container {
    background-color: black;
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
}

.text-over-img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    font-family: "Lucida Console", Courier, monospace;
  }

.btn-position {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn {
    background: none;
    border: 2px solid #fff;
    border-radius: 40px;
    color: #fff;
    font-family: "Lucida Console", Courier, monospace;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 100px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    width: 200px;
}

.btn:hover {
    color: #000;
}

.btn::before {
    content: "";
    position: absolute;
    border-radius: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.btn1::before {
    transform: scaleX(0)
}

.btn1:hover::before {
    transform: scaleX(1);
}
