.footer{
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    background-color: #000d1a;
    text-align: center;
    top: 100%;
    position: absolute;
    width: 100%;
}

#hr-footer{
    margin: 0; 
    padding: 0; 
    background-color:#00b3b3; 
    height: 3px;
    border: 0;
}

.icons-ul{
    display: flex;
    margin: 15px 15px;
    justify-content: center;
    padding: 0;
}

.icons-li{
    display: flex;
}

.icons-li a{
    padding-left: 55px;
    padding-right: 55px;
}

.page-links-ul{
    display: flex;
    justify-content: center;
}

.page-links-li{
    display: flex;
}

.page-links-li a {
    padding: 0px 25px;
    font-size: 17.5px;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.page-links-li a:hover{
    color: #00b3b3;
}

.icons{
    padding-left: 17.5%;
    padding-right: 17.5%;
}